<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <div class="header-with-back">
        <button mat-icon-button routerLink="/landing" class="back-button">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <mat-card-title>Login to Portfolio Manager</mat-card-title>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="submitted && f['email'].errors">
            <span *ngIf="f['email'].errors['required']">Email is required</span>
            <span *ngIf="f['email'].errors['email']">Please enter a valid email</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="submitted && f['password'].errors">
            <span *ngIf="f['password'].errors['required']">Password is required</span>
            <span *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</span>
          </mat-error>
        </mat-form-field>

        <div class="button-group">
          <button mat-raised-button color="primary" type="submit" [disabled]="loading">
            <span *ngIf="!loading">Login</span>
            <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
          </button>
        </div>
      </form>

      <p class="signup-link">
        Don't have an account? <a routerLink="/register">Register here</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>

